@import "../../global.module.scss";

.logWrapper {
  overflow: hidden;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  ul {
    padding: 0;
    max-height: 60vh;
    overflow-y:scroll;

    >li  {
      display: flex;
    }
    > li > div{
      color: gray;
      font-size: .7rem;
      &:first-child {}
      width: 5rem;
    }

  }
  >div {
    width: 100%;
    border: solid 1px $grayBorderColor;
    box-sizing: border-box;
    padding-left: 1rem;
    p {
    }
  }
  div:last-child {
    border-left: 0;
  }
}
.activeHistory {
  >div {
    color: red !important;
    animation: blink-animation 1s steps(5, start) infinite;
  }
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
