@import "../../global.module.scss";

$borderColor: $grayBorderColor;
.main{
 margin: 2rem;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 60%;
 @media only screen and (max-width: $sm) {
  width: 90%;
 }
}